<p style="color: green" class="ms-5"><%= notice %></p>

<div class="border border-danger rounded my-5 mx-5 py-3 px-5">

  <div class="d-flex flex-row justify-content-between mb-5">
    <div class="me-5">
      <%= link_to "<<", admin_galleries_path, class: 'link-style' %>
    </div>
    <div class="d-flex flex-row">
      <%= link_to "Edit this Gallery", edit_admin_gallery_path(@admin_gallery), class: 'link-style me-3' %> |
      <%= button_to "Delete this Gallery", admin_gallery_path(@admin_gallery.id), method: :delete, class: 'btn btn-outline-danger py-0 ms-3' %>
    </div>
  </div>

  <div class="d-flex flex-row justify-content-between mb-5">
    <div class="w-75">
      <h4><%= @admin_gallery.topic %></h4>
    </div>
    <div>
      <%= link_to "Add an Artwork", new_admin_artwork_path(gallery_id: @admin_gallery.id), class: "btn btn-outline-primary py-0" %>
    </div>
  </div>

  <div class="d-flex flex-column align-items-start mb-5"> 
    <p><%= @admin_gallery.description %></p>
  </div>

  <div class="d-flex flex-wrap justify-content-start">
    <% @artworks.order('created_at DESC').each do |artwork|%>
      <div class="album-container d-flex flex-column flex-lg-row border border-dark rounded mt-3 me-3">
        <div class="my-3 mx-3">
          <h6><b><%= artwork.title %></b></h6>
          <div class="row">
            <% if artwork.image.attached? %>
              <%= image_tag artwork.image.variant(:medium), class: ""  %>
            <% end %>
          </div>
          <p><%= truncate artwork.artist %></p>
          <p><%= truncate artwork.date %></p>
          <p class="d-flex flex-row justify-content-end">
            <%= link_to 'More', admin_artwork_path(artwork), class: "link-style" %>
          </p> 
        </div>
      </div>
    <% end %>
  </div>
</div>
