<div id="<%= dom_id order %>">
  <p>
    <strong>Customer name:</strong>
    <%= order.customer_name %>
  </p>

  <p>
    <strong>Customer email:</strong>
    <%= order.customer_email %>
  </p>

  <p>
    <strong>Customer address:</strong>
    <%= order.customer_address %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= order.total %>
  </p>

  <p>
    <strong>Fulfilled:</strong>
    <%= order.fulfilled %>
  </p>

  <% if order.order_artworks.any? %>
  <strong>Artworks:</strong>
  <% order.order_artworks.each do |op| %>
    <%= op.artwork.title %> 
    <%= op.quantity %>
  <% end %>
<% end %>

</div>
